.desktopfiters {
  padding: 20px;
}

.mobilefiters {
  padding: 20px;
}

td {
  vertical-align: top;
}
.description {
  font-weight: bold;
}

.header-info{
  text-align: left;
}

.header-info-date{
  text-align: left;
  margin-left: 10px;
}

