* {
  box-sizing: border-box;
}

.mobile-header {
  color: white;
  display: flex;
  gap: 36px;
}

.mobile-header-title {
  display: flex;
  height: 30px;
  background-color: #333;
  color: white;
  flex-grow: 1;
  min-width: 0;
  justify-content: center;
  align-items: center;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
}

.bm-burger-bars {
  background: #140000;
  color: #faf8f8;
}

.bm-menu {
  background: #000000;
  padding: 1em 1em 1em;
  font-size: 2em;
  color: rgb(0, 0, 0);
}

/* Wrapper for item list */
.bm-item-list {
  color: #fafafa;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
