* {
  box-sizing: border-box;
}

.mobile-header {
  color: white;
  display: flex;
}

.bm-cross {
  background: #bdc3c7;
}
.bm-cross-button {
  color: #faf8f8;
  height: 24px;
  width: 24px;
}

.mobile-header-title {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #333;
  color: white;
  flex-grow: 1;
  min-width: 0;
  justify-content: center;
  align-items: center;
}

.bm-burger-button {
  position:absolute;
  width: 36px;
  height: 30px;
  left: 15px;
  top: 15px;
}

.bm-burger-bars {
  background: white;
}

.bm-menu {
  background: #333;
  padding: 1.5em 1em 0;
  font-size: 2em;
}

.bm-item-list {
  color: #fafafa;
}

.bm-item {
  display: inline-block;
}

.menu-item {
  color: white;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

